version: '3.8'

services:
  db:
    image: postgres:15
    container_name: odoo-db
    environment:
      POSTGRES_DB: odoo
      POSTGRES_USER: odoo
      POSTGRES_PASSWORD: odoo
    volumes:
      - odoo-db-data:/var/lib/postgresql/data
    restart: unless-stopped

  odoo:
    build: ./odoo
    container_name: odoo-app
    depends_on:
      - db
    environment:
      HOST: db
      USER: odoo
      PASSWORD: odoo
    command: >
      odoo
      --db_host=db
      --db_user=odoo
      --db_password=odoo
      -d odoo
      --init=base
      --without-demo=all
      --xmlrpc-interface=0.0.0.0
    ports:
      - "8069:8069"
    volumes:
      - odoo-web-data:/var/lib/odoo
      - ./odoo/custom-addons:/mnt/extra-addons
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    container_name: odoo-nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - odoo
    restart: unless-stopped

volumes:
  odoo-db-data:
  odoo-web-data:

